:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #81b0f1;
  --blue-hover: #a7c8f5;
  --yellow: #e5c435;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  max-width: 100%;
  display: block;
}

.target {
  height: 8vh;
  width: 8vh;
  background-color: #8b8b8b3d;
  border: 2px red dashed;
  border-radius: 50%;
}

.targetWrapper {
  display: flex;
}

.dropdown {
  background-color: var(--blue);
  border-radius: 10%;
}

.dropdown li {
  text-align: justify;
  width: 100%;
  list-style: none;
}
.dropdown li button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  background-color: transparent;
  padding: 10px 20px 10px 10px;
  width: 100%;
  text-align: left;
}
.dropdown li button img {
  height: 40px;
  border-radius: 10%;
}

.dropdown li button:hover {
  background-color: var(--blue-hover);
  border: none;
}

.mark {
  height: 40px;
}

.popupWrapper {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100vw";
  height: "100vh";
  background-color: "rgba(0,0,0,0.7)";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  z-index: 1000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1000px) {
  .target {
    height: 5vh;
    width: 5vh;
  }
}
